.sec-1 {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: space-between;

	#content-zone {
		justify-content: center;
		display: flex;
		flex-direction: column;
		text-align: left;
		width: 36%;

		h1 {
			font-weight: 700;
			font-size: 4em;

			strong {
				color: #5fb727;
				background-image: linear-gradient(transparent calc(100% - .4em),#e4efe9 calc(100% - .4em),#e4efe9 calc(100% - .15em),transparent calc(100% - .15em));
				background-repeat: no-repeat;
			}
		}
		span.button {
			display: inline-block;
		}
	}

	.decorative-zone {
		width: 400px;
		position: relative;
		height: 100vh;

		&::before {
			content: "";
			display: block;
			width: 100vw;
			height: 100%;
			background-color: #e4efe9;
			position: absolute;
			left: 0;
			z-index: -1;
		}

		.decorative {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			& > span {
				width: 400px;
				height: 400px;
				display: block;
			}

			.svg-plus {
				position: absolute;
				bottom: -30px;
				left: -30px;
				width: 60px;
			}

			.landscape-circle {
				border-radius: 50%;
				background-image: url('../../imgs/landscape.jpg');
				background-position: center;
				background-size: 100%;
				position: absolute;
				left: -200px;
				top: 0px;
				z-index: -1;
			}

			.dots {
				border-radius: 50%;
				background-image: radial-gradient(circle,#5fb727 5%,transparent 6%),radial-gradient(circle,black 5%,transparent 6%);
				background-size: 1.5rem 1.5rem;
				background-repeat: repeat;
				position: absolute;
				bottom: -20%;
				left: -61%;
				rotate: 45deg;
			}

			.women-square {
				background-image: url('../../imgs/nurses.jpg');
				background-position: center;
				background-size: 120%;
				position: relative;
			}

			.hor-bars {
				width: 150px;
				height: 55px;
				position: absolute;
				left: 310px;
				bottom: -25px;
				display: grid;
				grid-template-rows: 1fr 1fr 1fr;
				row-gap: 12px;

				> span {
					//height: 20px;
					position: relative;
					overflow: hidden;

					.inner {
						background-color: #5fb727;
						height: 100%;
						width: 100%;
						display: block;
						position: absolute;
						transform: scaleX(0.5);
						overflow: hidden;
					}

					&:nth-child(1) .inner {
						transform-origin: 20% 0;
					}
					&:nth-child(2) .inner {
						transform-origin: 50% 0;
					}
					&:nth-child(3) .inner {
						transform-origin: 79% 0;
					}
				}
			}
		}
	}

}
