.role-section {

	.role-grid {
		display: grid;
		margin: 100px auto;
		grid-template-columns: repeat(5, 250px);
		column-gap: 20px;
		width: max-content;

		#role-elargi {
			color: #5a9b84;
			grid-column-end: span 5;
		}
		#apprendre-title {
			font-weight: 700;
			font-size: 2.125em;
			grid-column-end: span 5;
			margin-bottom: 30px;
		}

		.role-box {
			padding: 1em;
			background-color: #e4efe9;
			border-radius: .5rem;
			grid-row: 3;
			text-align: left;

			img {
				background-color: #fff;
				border-radius: 50%;
				width: 7.5em;
				height: 7.5em;
				text-align: center;
				margin: 30px auto;
				display: block;
			}
			.title-role {
				line-height: 1.4;
				font-weight: 700;
				margin-bottom: .5em;
				color: #5fb727;
				display: block;
			}
			.desc-role {
				margin-bottom: 0;
			}
		}
	}
}
