.sec-2 {
	height: 100vh;
	//background-color: #e4efe9;
	position: relative;
	display: flex;
	align-items: center;
	//justify-content: space-between;

	canvas {
		width: 100%;
		height: 100%;
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: -1;
	}
	.content {
		align-items: center;
		flex: 1 1 auto;

		.center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: left;
		align-items: start;
		column-gap: 50px;
		width: auto;
		width: max-content;
		margin: auto;

			.title {
				display: block;
				margin-bottom: .5em;
				font-size: 1em;
				font-weight: 400;
				color: #5a9b84;
			}
			.item {
				width: auto;
				cursor: pointer;
				margin-bottom: 10px;
				display: inline-block;
				font-size: 1.375em;
				font-weight: 700;
				background-image: linear-gradient(transparent calc(100% - .4em),#e4efe9 calc(100% - .4em),#e4efe9 calc(100% - .15em),transparent calc(100% - .15em));
				background-repeat: no-repeat;
				background-size: 0 100%;
				transition: color .4s ease-out,transform .4s ease-out,background-size .8s cubic-bezier(.19,1,.22,1),-webkit-transform .4s ease-out;

				&:hover {
					color: #5fb727;
					background-size: 100% 100%;
					transition: color .4s ease-out,transform .4s ease-out,background-size .8s cubic-bezier(.19,1,.22,1),-webkit-transform .4s ease-out;
				}
			}

			.left {
				grid-column: 1;
				display: flex;
				flex-direction: column;
				flex-direction: column;
				align-items: flex-start;
			}
			.right {
				grid-column: 2;
				display: flex;
				flex-direction: column;
				flex-direction: column;
				align-items: flex-start;
			}
			.buttons {
				grid-column: 1 / 3;
				margin-top: 50px;
				justify-self: center;

				.button {
					display: inline-block;
				}
			}
		}
	}

	.decorative-zone {
		width: 400px;
		position: relative;
		height: 100vh;
		flex: 0 1 600px;

		.decorative {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			& > span {
				width: 400px;
				height: 400px;
				display: block;
			}

			.svg-plus {
				position: absolute;
				bottom: -20px;
				left: 35%;
				width: 60px;
			}

			.landscape-circle {
				border-radius: 50%;
				background-image: url('../../imgs/landscape-2.jpg');
				background-position: center;
				background-size: 100%;
				position: absolute;
				left: 150px;
				top: 150px;
				z-index: -1;
			}

			.dots {
				border-radius: 50%;
				background-image: radial-gradient(circle,#5fb727 5%,transparent 6%),radial-gradient(circle,black 5%,transparent 6%);
				background-size: 1.5rem 1.5rem;
				background-repeat: repeat;
				position: absolute;
				bottom: -40%;
				left: 11%;
				rotate: 45deg;
				z-index: -2;
			}

			.women-circle {
				background-image: url('../../imgs/nurses-2.jpg');
				background-position: center;
				background-size: 120%;
				border-radius: 50%;
				position: relative;
			}

			.hor-bars {
				rotate: 90deg;
				width: 150px;
				height: 55px;
				position: absolute;
				left: 350px;
				top: 30%;
				display: grid;
				grid-template-rows: 1fr 1fr 1fr;
				row-gap: 12px;

				> span {
					//height: 20px;
					position: relative;
					overflow: hidden;

					.inner {
						background-color: #e4efe9;
						height: 100%;
						width: 100%;
						display: block;
						position: absolute;
						transform: scaleX(0.5);
						overflow: hidden;
					}

					&:nth-child(1) .inner {
						transform-origin: 20% 0;
					}
					&:nth-child(2) .inner {
						transform-origin: 50% 0;
					}
					&:nth-child(3) .inner {
						transform-origin: 79% 0;
					}
				}
			}
		}
	}
}
