.video-section {
	position: relative;
	height: 100vh;

	&:before {
		content: '';
		width: 100vw;
		height: 100%;
		right: 50%;
		position: absolute;
		background-color: #e4efe9;
	}
	.vimeo-container {
		padding: 42.55% 0 270px 0;

		iframe {
			position:absolute;top:0;left:0;width:100%;height:100%;
		}
	}
}
