span.button {
	background-color: #e4efe9;
	padding: .75em .85em;
	cursor: pointer;
	transition: border-radius .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
	//border: 1px solid #e4efe9;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: .5em;

	.button-shutter {
		transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: inherit;

	}
	&:hover .button-shutter {
		transform: translateY(94%);
	}

	&:hover {
		border-radius: 0;
		
		p:not(.behind) {
			opacity: 0;
		}
	}

	p {
		line-height: 1.1;
		font-size: .875em;
		margin: 0;
		z-index: 1;
		opacity: 1;
		transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
		position: relative;
	}

	p.behind {
		line-height: 1.1;
		font-size: .875em;
		margin: 0;
		z-index: 1;
		position: absolute;
	}
}

