footer {
	max-width: 1400px;
	margin: auto;
	display: flex;
	text-align: left;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	#copyright {
		flex: 0 0 auto;
	}
	#note {
		flex: 0 1 500px;
		align-self: flex-end;
	}
}
