.nav-button {
	position: relative;
	cursor: pointer;
	z-index: 1;
	font-weight: 700;

	&::after {
		content: "";
		height: 4px;
		width: 100%;
		position: absolute;
		bottom: -5px;
		left: 0;
		background: #e4efe9;
		transform-origin: 100% 50%;
		transform: scaleX(0);
		transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);
	}
	&:hover:after {
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}
}
