header {
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	height: 90px;

	&.lock {
		position: fixed;
		top: 0;
		//left: 50%;
		//transform: translateX(-50%);
	}

	.header-content {
		width: 96%;
		max-width: 1400px;
		margin-right: auto;
		margin-left: auto;
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		position: relative;
		//background-color: white;
	}

	#header-bg {
		background-color: white;
		border-bottom: 1px solid #e4efe9;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transform: scaleY(0);
		transform-origin: 50% 0%;
		transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);

		&.show {
			transform: scaleY(1);
		}
	}
}

#header-logo {
	display: block;
	margin: 0 70px;
	cursor: pointer;
	z-index: 1;
	height: 100%;

	#img-logo {
		//background-color: red;
		width: 200px;
		height: 75px;
		background-image: url('../imgs/logo.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 120%;
	}
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: right;

	li {
		display: inline-block;
		margin: 0 10px;

		> a {
			color: inherit;
			text-decoration: inherit;
		}

		&#dog:hover::before {
			content: "";
			display: block;
			width: calc(100% + 2em);
			height: 2.625rem;
			background: none;
			position: absolute;
			top: 50%;
			left: -1em;
		}

		&#dog:hover ul#menu {
			top: 5.25rem;
		}

		&#dog:hover ul#menu li:first-child {
			transition: opacity .6s ease-out .2s;
			opacity: 1;
		}
		&#dog:hover ul#menu li:nth-child(2) {
			transition: opacity .6s ease-out .33s;
			opacity: 1;
		}
		&#dog:hover ul#menu li:nth-child(3) {
			transition: opacity .6s ease-out .422s;
			opacity: 1;
		}
	}
}
	
