.menu-entry {
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
	padding: 2em 1.25em 3em;
	color: #fff;
	border-radius: .5rem;
	flex: 1 1;
	text-align: left;
	display: inline-flex;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1;
	opacity: 0;

	.svg-arrow-right {
		--fill-bg: #5fb727;
		--fill-icon: #fff;
		font-size: 1.7rem;
		width: 1.5em;
		height: 1.5em;
		top: 0.1em;
		position: relative;
	}

	&:hover span::after {
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}

	span {
		line-height: 1.2;
		font-weight: 700;
		font-size: 2.125em;
		position: relative;

		&::after {
			content: "";
			height: 11px;
			width: 100%;
			position: absolute;
			bottom: 10px;
			left: 0;
			background: #ffffffb3;
			transform-origin: 100% 50%;
			transform: scaleX(0);
			transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

}
