ul#menu {
	position: absolute;
	display: flex;
	width: 100%;
	right: 0;
	padding: 10px;

	//bottom: 5.25rem;
	top: calc(-100% - 5.25rem);
	transition: top .8s cubic-bezier(.19,1,.22,1);


	&::before {
		content: "";
		display: block;
		width: 100vw;
		left: calc(50% - 50vw);
		height: calc(100% + 5.25rem);
		background-color: #e4efe9;
		position: absolute;
		bottom: 0;
		z-index: 0;
		//transition: bottom .4s cubic-bezier(.19,1,.22,1),-webkit-transform .4s cubic-bezier(.19,1,.22,1);
	}
}
