html {
	font-size: 16px;
}
body {
	overflow-x: hidden;
	line-height: 1.45;
	color: #3a443c;
}

.App {
  text-align: center;
  opacity: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
	width: 96%;
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	/*background: linear-gradient(grey, darkgrey);*/
}

.example-enter .App {
  opacity: 0.01;
}

.example-enter.example-enter-active .App {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave .App {
  opacity: 1;
}

.example-leave.example-leave-active .App {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-enter-done .App {
  opacity: 1;
}

.loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	background-color: white;
	display: block;
	overflow: hidden;
}

.loader #half-band {
	position: absolute;
	width: 0;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #e4efe9;
}

.loader .plus {
	width: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.loader .plus .svg-plus {
	width: 100%;
}

.example-leave .loader {
	opacity: 1;
	display: block;
}

.example-enter.example-enter-active .loader {
	opacity: 1;
	display: block;
  transition: opacity 300ms ease-in 10s;
}
.example-leave.example-leave-active .loader {
  opacity: 0.01;
  transition: opacity 300ms ease-in 10s;
	display: block;
}

.example-enter-done .loader {
	opacity: 0;
  transition: opacity 300ms ease-in 0.2s;
}
