/*@font-face {*/
	/*font-family: Steradian;*/
	/*src: url("https://monplus.ca/static/fonts/steradian-regular.woff2") format("woff2"), url("https://monplus.ca/static/fonts/steradian-regular.woff") format("woff");*/
	/*font-style: normal;*/
	/*font-weight: 400;*/
	/*font-display: swap;*/
/*}*/

body {
  margin: 0;
  /*TODO fix font not being used*/
  font-family: Steradian, Helvetica Neue, Arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
